h1 {
    text-align: center;
}

h3 {
    text-align: center;
}

.column {
    float: left;
    width: 50%;
}
  
.row:after {
    content: "";
    display: table;
    clear: both;
}

.button-center {
    text-align: center;
}
