h1 {
    text-align: center;
    color: fuchsia;
}

h3 {
    text-align: center;
    color: fuchsia;
}

.column {
    float: left;
    width: 50%;
    color: fuchsia;
}
  
.row:after {
    content: "";
    display: table;
    clear: both;
}

.center {
    text-align: center;
}

.bg {
    background-image: url(https://freethoughtblogs.com/pharyngula/files/2017/01/PineappleJalapenoPizza.jpg);
}
