.cheese {
    background-color: rgb(255, 196, 0);
    height: 100vh;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.crust {
    font-family: 'Stick', sans-serif;
    font-size: 25px;
    color: brown;
    background-color: darkgoldenrod;
    text-align: center;
}